/* Ryan Yong */

/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  margin-bottom: 5vh;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-style: italic;
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-underline-offset: 1vh;
  padding-bottom: 1vh;
  margin-top: 5vh;
  text-align: center;
}

h3 {
  text-align: center;
}

p, ul {
  text-align: justify;
  margin-left: 25vw;
  margin-right: 25vw;
}

blockquote {
  text-align: justify;
  margin-left: 30vw;
  margin-right: 25vw;
}

.piccarousel {
  max-width: 90vw;
  margin: auto;
  position: relative;
}

.picback {
  left: 17vw;
  cursor: pointer;
  position: absolute;
  top: 46%;
  color: black;
  font-weight: bold;
  font-size: 4vh;
  transition: .5s ease;
}

.picforward {
  right: 17vw;
  cursor: pointer;
  position: absolute;
  top: 46%;
  color: black;
  font-weight: bold;
  font-size: 4vh;
  transition: .5s ease;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supp {
  width: 50vw;
  border-radius: 10px;
}

.video {
  aspect-ratio: 16/9;
}

.map {
  aspect-ratio: 4/3;
}

.pic {
  max-width: 50vw;
  max-height: 40vh;
  object-fit: scale-down;
  margin-top: 1vh;
  border-radius: 10px;
}

a {
  color: black;
}

.topnav {
  background-color: #f4e6d8;
  padding: 2vh 0vw 2vh 0vw;
  text-align: center;
}

.topnav a {
  text-decoration: none;
  padding: 0vh 2vw 2vh 2vw;
}

.topnav a.active {
  color: #a69789;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 4}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 4}
}

@media screen and (max-width: 950px) {
  h2 {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  p, ul {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  blockquote {
    margin-left: 15vw;
    margin-right: 10vw;
  }

  .pic {
    max-width: 80vw;
    max-height: 35vh;
  }

  .picback {
    left: 0%;
  }
  
  .picforward {
    right: 0%;
  }

  .supp {
    width: 80vw;
  }
}