/* Ryan Yong */

/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  margin-bottom: 5vh;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-style: italic;
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-underline-offset: 1vh;
  padding-bottom: 1vh;
  margin-top: 5vh;
  text-align: center;
}

h3 {
  text-align: center;
}

p, ul {
  text-align: justify;
  margin-left: 25vw;
  margin-right: 25vw;
}

.logo {
  max-height: 6vh;
  display: inline-block;
}

.container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2vw;
  margin-top: 2vw;
}

.container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
  transition: .2s;
}

.container-img:hover {
  opacity: 1;
  transition: .2s;
}

.container-text {
  color: black;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  width: 50%;
  font-size: 2vh;
  pointer-events: none;
  opacity: 1;
  transition: .2s;
}

.text-big {
  font-size: 4vh;
  width: 80%;
}

.works {
  position: relative;
  width: 30vh;
  height: 30vh;  
  text-align: center;
}

.works:hover .container-text {
  opacity: 0;
  transition: .2s;
}

.banner {
  position: relative;
  width: 96vw;
  height: 20vh;  
  text-align: center;
}

.banner:hover .container-text {
  opacity: 0;
  transition: .2s;
}

.piccarousel {
  max-width: 90vw;
  margin: auto;
  position: relative;
}

.picback {
  left: 15vw;
  cursor: pointer;
  position: absolute;
  top: 46%;
  color: black;
  font-weight: bold;
  font-size: 4vh;
  transition: .5s ease;
}

.picforward {
  right: 15vw;
  cursor: pointer;
  position: absolute;
  top: 46%;
  color: black;
  font-weight: bold;
  font-size: 4vh;
  transition: .5s ease;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  margin-top: 5vh;
}

.pic {
  height: 50vh;
  object-fit: scale-down;
  margin-top: 1vh;
}

.squircle {
  border-radius: 25%;
}

a {
  color: black;
}

.topnav {
  background-color: #f4e6d8;
  padding: 2vh 0vw 2vh 0vw;
  text-align: center;
}

.topnav a {
  text-decoration: none;
  padding: 0vh 2vw 2vh 2vw;
}

.topnav a.active {
  color: #a69789;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 4}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 4}
}

@media screen and (max-width: 800px) {
  h2 {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  p, ul {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .topnav {
    padding: 1vh 0vh 1vh 0vh;
  }

  .picback {
    left: 0%;
  }
  
  .picforward {
    right: 0%;
  }

  .horipic {
    max-width: 85%;
  }
  
  .vertpic {
    max-width: 85%;
  }
}